<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <a class="titleText">
    <h1>Music List</h1>
    <h3>Artist and Concert tracker for the avid music fan!</h3> </a>
    
    <div class = "holdAll">
    <div id="artist" class="flex-container">
        <!-- Artist List-->
           <h2> Artists:</h2>
           <a href ="/artist/new"> 
         <button type = "submit"> Add A New Artist </button>
            </a>
        <ul class="homeList">
            <% for (let artist of artists) { %>
                 <a class ="objects" href="/artist/<%=artist._id %>">
                    <li class="db-object">
                        <div id = displayImage>
                        <p> <% if (artist.image) {%>
                            <image class= "image" src= <%= artist.image %> width="100" />
                                <% } else { %>
                       <image class="image" src="https://sainfoinc.com/wp-content/uploads/2018/02/image-not-available-570x570.jpg" width="100"> <% } %> </p></div>

                       <div class = textBox>
                        <div class="iconHold">
                          <button type = "submit"> <image src="/edit.svg" width="20px" height="30px"></image></button>

                        <form action="/artist/<%= artist._id %>?_method=DELETE" method ="post"> <input type="hidden" name="_method" value="DELETE"> <button type="submit"><image src ="/delete.svg" width="20px" height="30px"></image><br/></form></button></div>

                        Name: <%= artist.name %> 
                        <br />
                        Genre: <%= artist.genre %>
                        <br />
                        Last Edited On: <%= artist.dateLogged %>

                        <a href ="/artist/edit/<%= artist._id %>"> 
       
            </a>
            </div>
                    </li>
                </a>
                <% } %>
        </ul>
        </div>
<div id="concert" class="flex-container">
    <!-- Concert List-->
    <h2> Concerts:</h2>
    <a href ="/concert/new"> 
         <button type = "submit"> Add A New Concert</button>
            </a>
        <ul class="homeList">
            <% for (let concert of concerts) { %>
                <a class ="objects" href="/concert/<%=concert._id %>">
                    <a class="db-object">
                        <div class="displayImage">
                        <p> <% if (concert.image) {%>
                            <image class= "image" src= <%= concert.image %> width="100" />
                                <% } else { %>
                       <image class="image" src="https://sainfoinc.com/wp-content/uploads/2018/02/image-not-available-570x570.jpg" width="100"> <% } %> </p></div>

                        <div class = textBox>
                        <div class="iconHold">
                          <button type = "submit"> <image src="/edit.svg" width="20px" height="30px"></image></button>

                        <form action="/concert/<%= concert._id %>?_method=DELETE" method ="post"> <input type="hidden" name="_method" value="DELETE"> <button type="submit"><image src ="/delete.svg" width="20px" height="30px"></image><br/></form></button></div>

                        Name: <%= concert.name %> 
                        <br />
                        Genre: <%= concert.genre %>
                        <br />
                        Tour: <%= concert.tourName %>
                        <br />
                        Concert Date: <%= concert.dateAttended %>
          </div>
        </a>
                </a>
                <% } %>
        </ul>
    </div>
    </div>
</body>
</html>