<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('./partials/head.ejs') %>
	</head>
	<body>
		<div class="Show">
			 <a href="/"> <button> Back to Home</button></a>
            <h2>Artist: <%= artist.name %></h2>
			<p>
				<% if (artist.image) { %>
				<img class="image" src= "<%= artist.image %>" width ="300" /> 
                <% } else { %>
				<img class= "image" src = '/noimage.jpeg' width="300" />
				<% } %>
			</p>
            <p>
                Genre: <%= artist.genre %>
            </p>
            <p> Last Edited On: <%= artist.dateLogged %>
            </p>
            <p> Description: <%= artist.description %>
            </p>
            <!-- Function Buttons-->
           
            <a href ="/artist/edit/<%= artist._id %>"> 
         <button type = "submit"> Edit Artist </button>
            </a>
        
            <form action="/artist/<%= artist._id %>?_method=DELETE" method ="post"> <input type="hidden" name="_method" value="DELETE"> <button type ="submit"> Delete Artist</button></form>
		</div>
	</body>
</html>
